<h2 mat-dialog-title> {{ title }} </h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form">

    <mat-grid-list cols="2">

        <mat-grid-tile>
            <div>

                <mat-form-field>
                    <mat-label>Full name</mat-label>
                    <input matInput placeholder="First and Last Name" formControlName="name" required>
                    <mat-error
                        *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched">
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="5551234" formControlName="mobile" required>
                    <mat-error
                        *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched">
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>
                    <mat-error
                        *ngIf="form.get('email')?.invalid || form.get('email')?.dirty || form.get('email')?.touched">
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Qualification</mat-label>
                    <input matInput placeholder="ex. MBBS" formControlName="qualification" required>
                    <mat-error
                        *ngIf="form.get('qualification')?.invalid || form.get('qualification')?.dirty || form.get('qualification')?.touched">
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div>
                <mat-label>Gender</mat-label>
                <br>
                <mat-radio-group aria-label="Select a gender" color="primary" formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="male">Other</mat-radio-button>
                </mat-radio-group>

                <mat-form-field>
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department" name="department">
                        <mat-option *ngFor="let department of departments" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="form.get('department')?.invalid || form.get('department')?.dirty || form.get('department')?.touched">
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Birthdate</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthdate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="form.get('birthdate')?.invalid || form.get('birthdate')?.dirty || form.get('birthdate')?.touched">
                        Choose valid birthdate
                    </mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>

    </mat-grid-list>

</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Register</button>
</div>